.background{
    
    border:10px solid lightcoral;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    height:300%;
    width:10%;
    background-color:lightcoral;
    padding: 120px 100px;
    margin-top: 60px;
    margin-left: 500px;
    margin-bottom: 100px;

}
.inside{

    margin-left: -100px;
    background-image: url('https://images.unsplash.com/photo-1507919909716-c8262e491cde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: 100%;
}
p{ 
    line-height: 1.5cm;
    font-family: 'Times New Roman', Times, serif;
   font-size: 30px;
   font-weight: 200;
   align-content: center;
   margin-left: 420px;
   letter-spacing: 3px;
}
.second{
    line-height:0.2;
    font-size: 60px;
    text-align: center;
    margin: left 250px;
    letter-spacing: 2px;
    font-family:fantasy
    
}